/* ===== Глобальні налаштування стилів ===== */

:root {
  /* Кольори сайту */

  --color-background-primary: #ffffff;
  --color-background-secondary: #f5f4fa;
  --color-background-footer: #2f303a;
  --color-text-primary: #757575;
  --color-text-title: #212121;
  --color-text-contacts: rgba(255, 255, 255, 0.6);
  --color-text-secondary: #ffffff;
  --color-logo: #000000;
  --color-accent: #2196f3;
  --color-cart-border: #eeeeee;
  --color-header-line: #ececec;

  /* Шрифти сайту */
  
  --font-main: font-family: 'Roboto', sans-serif;
  --font-logo: font-family: 'Raleway', sans-serif;
}

body {
  /* Основний шрифт */

  font-family: var(--font-main);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text-primary);

  /* Основниий фон */

  background-color: var(--color-background-primary);
}

/* ===== Блоки header + footer ===== */

/* ===== Блок main ===== */
