/* ===== Глобальні налаштування стилів ===== */

body {
  /* Кольори сайту */

  --color-background-primary: #ffffff;
  --color-background-secondary: #f5f4fa;
  --color-background-footer: #2f303a;
  --color-text-primary: #757575;
  --color-text-title: #212121;
  --color-text-contacts: rgba(255, 255, 255, 0.6);
  --color-text-secondary: #ffffff;
  --color-logo: #000000;
  --color-accent: #2196f3;
  --color-card-border: #eeeeee;
  --color-header-line: #ececec;

  /* Основний шрифт */

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text-primary);

  /* Основниий фон */

  background-color: var(--color-background-primary);
}

/* ===== Блоки header + footer ===== */

/* Логотип */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-accent);
  text-decoration: none;
}

.logo-black {
  color: var(--color-logo);
}

.logo-white {
  color: var(--color-text-secondary);
}

.link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text-title);
  text-decoration: none;
  font-style: normal;
}

.contact-list .link {
  color: var(--color-text-primary);
}

.map {
  color: #ffffff;
}

.mail,
.tel {
  color: rgba(255, 255, 255, 0.6);
}

.list-item {
  list-style: none;
}

.link.current,
.link:hover,
.link:focus {
  color: var(--color-accent);
}

.footer-line {
  background-color: var(--color-background-footer);
}

/* ===== Блок main ===== */
